html {
  background-image: url("/Assets/bgIcon.png");
  min-height: 380px;
  max-height: 2100px;
  height: 100%;
}
body {
  min-height: 380px;
  max-height: 2100px;
  height: 100%;
}
h1 {
  margin: 0;
}
#closeBtn{
  box-shadow: 0px 0px 18px -10px #000000;
	background-color:#fff;
	border-radius:25px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:17px;
	padding:5px 15px;
	text-decoration:none;
}

@media screen and (min-width: 992px) {
  html {
    /* background-color: #e06666; */
    background-size: 60%;
    background-position: 80% 15%;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  body {
    overflow: hidden;
  }
  .scroll {
    max-height: 900px;
    min-height: 360px;
    height: 85%;
    min-width: 360px;
    max-width: 400px;
    overflow: hidden;
    overflow-y: scroll;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .pokemon {
    min-height: 180px;
    height: 100%;
    max-height: 240px;
    width: 85%;
  }

  .pokemon .detail {
    display: flex;
    flex-direction: row;
  }

  .name {
    font-size: 24px;
    margin-top: -15px;
  }
  .image {
    min-height: 180px;
    max-height: 800px;
    height: 60%;
  }
  .types {
    width: 120px;
    height: 80px;
  }
  .type {
    font-size: 20px;
  }
  .pokedex {
    flex-direction: row;
    display: flex;
    width: 100%;
    min-width: 992px;
    min-height: 380px;
    height: 100%;
    /* overflow: hidden; */
  }
  .pokeId {
    min-width: 800px;
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
  }
  #pokemonId {
    max-height: 900px;
    min-height: 360px;
    height: 85%;
    width: 78%;
  }
  .pokeBody {
    margin-bottom: 200px;
    min-width: 800px;
    width: 100%;
    max-height: 900px;
    min-height: 360px;
    height: 100%;
    display: flex;
  }
  .imageCard {
    height: 85%;
    background-color: rgb(255, 255, 255);
    width: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .itemImage {
    height: 70%;
    width: 70%;
  }
  .shiny {
    height: 30%;
    width: 50%;
    min-width: 100px;
    min-height: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: 0px 0px 60px -21px rgba(0, 0, 0, 0.41);
    margin-right: -15%;
    margin-top: -15%;
    width: 15%;
    height: 25%;
  }
  .imageShiny {
    height: 100%;
    width: 100%;
  }
  .infos {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .root{
    width:60%; height:80%
  }
  .content {
    margin-top: 5%;
    height: 60%;
    width: 30%;
    justify-content: center;
  }
  .header {
    height: 40px;
    display: flex;
    padding: 0 15px 0 15px;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 60px -21px rgba(0, 0, 0, 0.41);
  }
  .nameInfo {
    margin-top: 10px;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .headerInfo {
    background: #fff;
    width: 76%;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: space-between;
  }
  .numberInfo {
    background-color: #fff;
    width: 22%;
    height: 40px;
    text-indent: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
  }
  .icons {
    width: 100%;
    height: 100%;
  }
  .resume{
    background-color: #fff;
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
  }
  .titles{
    width: 20%;
    border-right: 1px solid #000;
    padding-left: 15px;
  }
  .attributes{
    padding-left: 15px;
  }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  html {
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .pokemon {
    min-height: 620px;
    height: 100%;
    max-height: 818px;
  }

  .pokemon .detail {
    display: flex;
    flex-direction: column;
  }
  .image {
    min-height: 360px;
    max-height: 800px;
    height: 60%;
  }
  .name {
    font-size: 48px;
  }
  .number {
    font-size: 20px;
  }
  .types {
    width: 300px;
    height: 80px;
  }
  .type {
    font-size: 20px;
  }
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: #f4f4f4;
    opacity: 0.98;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pokeBody {
    width: 80%;
    height: 100%;
    padding: 15px;
  }
  .header{
    width: 79%;
    border-radius: 10px;
    padding: 0 10px 0 10px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 5px;
  }
  .content {
    margin-top: -5%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .imageCard {
    margin-right: 20%;
    margin-top: 30px;
    height: 60%;
    width: 32%;
    max-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
  }
  .itemImage {
    height: 50%;
  }
  .shiny {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin-right: -40%;
    margin-top: -120px;
  }
  .nameInfo {
    margin-top: -5%;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .headerInfo {
    background: #fff;
    width: 76%;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: space-between;
  }
  .numberInfo {
    background-color: #fff;
    width: 22%;
    height: 40px;
    text-indent: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
  }
  .icons {
    width: 100%;
    height: 100%;
  }
  .resume{
    background-color: #fff;
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
  }
  .titles{
    width: 20%;
    border-right: 1px solid #000;
    padding-left: 15px;
  }
  .titles p{
    font-size: 15px;
    font-weight: bold;
    font-family: "Monserrat", sans-serif;
  }
  .attributes{
    padding-left: 15px;
  }
  .attributes p{
    font-size: 15px;
  }
}
@media screen and (min-width: 380px) and (max-width: 576px) {
  html {
    background-size: 140%;
    background-position: 50% 60px;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .pokemon {
    min-height: 480px;
    height: 100%;
    max-height: 818px;
  }
  .types{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .type{
    width: 150px;
  }
  .image {
    min-height: 360px;
    max-height: 576px;
    height: 60%;
  }
  .name {
    font-size: 24px;
  }
  .number {
    font-size: 20px;
    font-weight: 400;
  }
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: #f4f4f4;
    opacity: 0.98;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pokeBody {
    width: 80%;
    height: 100%;
    padding: 15px;
  }
  .header{
    width: 79%;
    border-radius: 10px;
    padding: 0 10px 0 10px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 5px;
  }
  .content {
    margin-top: -30px;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .imageCard {
    margin-right: 30%;
    height: 60%;
    width: 38%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
  }
  .itemImage {
    width: 40%;
    height: 50%;
  }
  .shiny {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin-right: -40%;
    margin-top: -35%;
  }
  .nameInfo {
    margin-top: -30px;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .headerInfo {
    background: #fff;
    width: 76%;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: space-between;
  }
  .numberInfo {
    background-color: #fff;
    width: 22%;
    height: 40px;
    text-indent: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
  }
  .icons {
    width: 100%;
    height: 100%;
  }
  .resume{
    background-color: #fff;
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
  }
  .titles{
    width: 20%;
    border-right: 1px solid #000;
    padding-left: 15px;
  }
  .titles p{
    font-size: 15px;
    font-weight: bold;
    font-family: "Monserrat", sans-serif;
  }
  .attributes{
    padding-left: 15px;
  }
  .attributes p{
    font-size: 15px;
  }
}

.title {
  color: #e06666;
  font-family: "Monserrat", sans-serif;
  font-size: 48px;
  margin-left: 5px;
  margin-bottom: 1px;
  margin-top: 0;
}
/* pokemons */
.pokemons {
  /* max-height: 540px;
    max-width: 220px; */
  border-radius: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.normal {
  background-color: #aca98c;
}

.grass {
  background-color: #75c348;
}

.fire {
  background-color: #ff9441;
}

.water {
  background-color: #8dbcf1;
}

.electric {
  background-color: #f7cf2e;
}

.ice {
  background-color: #98d5d7;
}

.ground {
  background-color: #dfbf69;
}

.flying {
  background-color: #a98ff0;
}

.poison {
  background-color: #a040a0;
}

.fighting {
  background-color: #bf3029;
}

.psychic {
  background-color: #f65687;
}

.dark {
  background-color: #725847;
}

.rock {
  background-color: #b8a137;
}

.bug {
  background-color: #becf1e;
}

.ghost {
  background-color: #6e5896;
}

.steel {
  background-color: #b9b7cf;
}

.dragon {
  background-color: #6f38f6;
}

.fairy {
  background-color: #f9aec7;
}

.pokemon {
  /* max-width: 200px; */
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 1rem;
}

.pokemon .number {
  color: #000;
  opacity: 0.3;
  text-align: right;
  /* font-size: 0.625rem; */
}

.pokemon .name {
  text-transform: capitalize;
  font-family: "Monserrat", sans-serif;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.pokemon .detail {
  /* display: flex;
    flex-direction: row; */
  align-items: center;
  justify-content: space-between;
}

.pokemon .detail .types {
  padding: 0;
  margin: 0;
  list-style: none;
}

.pokemon .detail .types .type {
  color: #fff;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0;
  /* font-size: 0.625rem; */
  border-radius: 1rem;
  filter: brightness(1.1);
  text-align: center;
}

.pokemon .detail img {
  max-width: 100%;
  height: 70px;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.pagination button {
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0;
  font-size: 0.625rem;
  color: #fff;
  background-color: #6c79db;
  border: none;
  border-radius: 1rem;
}
